:root {
    --primary-color: #85A7D7;
    --secondary-color: #1f4c8f;
    --background-color: #fff;
    --foreground-color: #EEF2F5;
    --scroll-padding: 0;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Epilogue', sans-serif;
}

@font-face {
    font-family: 'Epilogue';
    src: url('./fonts/Epilogue-Regular.ttf') format('truetype'),
        url('./fonts/Epilogue-Bold.ttf') format('truetype'),
        url('./fonts/Epilogue-Medium.ttf') format('truetype'),
        url('./fonts/Epilogue-ExtraBold.ttf') format('truetype');
}

html {
    scroll-behavior: smooth;
    scroll-padding: var(--scroll-padding, 10rem);
}

img {
    display: block;
    max-width: 100%;
    image-rendering: optimizeSpeed;
}

nav {
    margin: 1.5rem 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.branding {
    display: flex;
    align-items: center;
}

.brand-logo {
    width: 80px;
    height: 80px;
}

.brand-info {
    margin-left: 1.5rem;
}

.brand-info>h1 {
    color: var(--secondary-color);
    font-size: 2.5rem;
}

.brand-info>p {
    opacity: 0.8;
}

nav {
    padding: 0 2rem;
}

#primary-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.links {
    display: flex;
    gap: 1.5rem;
}

.nav-link {
    color: var(--background-color);
    background-color: var(--primary-color);
    padding: 0.75rem 1.75rem;
    border-radius: 0.5rem;
    text-decoration: none;
}

.menu-img {
    width: 50px;
    height: 50px;
    display: none;
    cursor: pointer;
}

.accent-color {
    background-color: var(--secondary-color);
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-direction-row {
    flex-direction: row;
}

.flex-direction-col {
    flex-direction: column;
}

.contact-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    justify-content: space-around;
    align-content: center;
    padding: 2rem 0;
    text-align: center;
    background-color: var(--foreground-color);
}

.header-info-col {
    margin-left: 1rem;
}

.header-info-col>h3 {
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
    color: var(--secondary-color);
}

.header-info-col>p {
    opacity: 0.9;
}

#Home {
    background: url('./images/hero-background.jpg') center/cover no-repeat;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.CTA {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.CTA>h2 {
    font-size: 7rem;
    color: var(--background-color);
    text-shadow:
        -1px -1px 0 #333,
        1px -1px 0 #333,
        -1px 1px 0 #333,
        1px 1px 0 #333;
    margin-bottom: 5rem;
}

.CTA>p {
    color: var(--background-color);
    background-color: var(--secondary-color);
    font-size: 1.25rem;
    padding: 1.25rem 2rem;
    border-radius: 1rem;
    line-height: 1.4;
    width: 90%;
}

#Services {
    background-color: var(--foreground-color);
    padding-bottom: 7rem;
}

.heading-container {
    background-color: var(--background-color);
}

.heading-container>h2 {
    text-align: center;
    font-size: 3.5rem;
    color: var(--secondary-color);
    padding: 2.5rem 0;
}

.service-group {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    place-content: center;
    gap: 1.75rem;
    padding-top: 7rem;
}

.service-img {
    border: 2px solid var(--secondary-color);
    border-radius: 50%;
    padding: 1.25rem;
    margin-right: 1.5rem;
    background-color: var(--background-color);
}

.service-img:hover {
    background-color: var(--primary-color);
}

.service-name {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.75rem;
    color: var(--secondary-color);
}

.service-description {
    opacity: 0.8;
}

.general-image-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: var(--foreground-color);
    gap: 1rem;
    overflow: hidden;
    padding: 5rem 0;
}

.faculty-img {
    justify-self: center;
}

.stock-img {
    width: 550px;
    height: 400px;
    justify-self: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    padding: 1.5rem;
    max-width: 1200px;
    margin: 0 auto;
}

.grid-item {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    color: #333;
}

.about-us {
    background-color: var(--foreground-color);
    padding: 2.5rem 3.5rem;
}

.about-us>h2 {
    color: var(--secondary-color);
    margin-bottom: 0.75rem;
}

.about-us>p {
    margin-bottom: 2.5rem;
    line-height: 1.8;
}

footer {
    background-color: var(--foreground-color);
    padding: 5rem 0 0 0;
}

.footer-branding {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-link {
    margin: 0.5rem 0;
}

.footer-end {
    background-color: var(--secondary-color);
    color: var(--background-color);
    padding: 1.25rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

.credits {
    color: var(--background-color);
    text-decoration: underline;
    cursor: pointer;
}

.socials>a>img {
    margin-right: 0.5rem;
}

.footer-col-group {
    display: grid;
    justify-content: space-evenly;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
}

.footer-col-group>.brand-info {
    margin-left: 3rem;
}

.footer-col-group>.brand-info>h1 {
    font-size: 5rem;
}

.footer-col-group>div>h2 {
    color: var(--secondary-color);
    font-size: 1.5rem;
}

.footer-col-group>div>ul>li {
    margin-top: 0.75rem;
}

@media screen and (max-width: 1000px) {

    body {
        padding: 0 0.5rem 0 0.5rem;
    }

    .service-group {
        grid-template-columns: repeat(2, 350px);
    }

    .CTA>p {
        width: 80%;
    }

    .stock-img {
        max-width: 350px;
        max-height: 300px;
    }

    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 800px) {

    nav {
        margin: 0.75rem 0;
    }

    .brand-logo {
        width: 65px;
        height: 65px;
    }

    .brand-info>h1 {
        font-size: 2.25rem;
    }

    .menu-img {
        display: block;
    }

    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        /* fallback */
        height: 100dvh;
        background-color: var(--secondary-color);
        top: 78px;
        left: -100%;
        text-align: center;
        transition: all 0.4s;
        overflow: hidden;
    }

    .links {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap: 1.5rem;
        z-index: 1;
    }

    .links>li {
        padding: 0.75rem 0;
        background-color: var(--primary-color);
        border-radius: 0.25rem;
        width: 50%;
    }

    .nav-link {
        padding: 0;
        background-color: var(--primary-color);
    }

    nav ul.show {
        left: 0;
    }

    .service-group {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .stock-img {
        max-width: 225px;
        max-height: 200px;
    }

    #Home {
        background: url('./images/pexels-cedric-fauntleroy-4270362.jpg') center/cover no-repeat;
    }

    .footer-col-group>.brand-info {
        margin-left: 0;
    }

    .footer-col-group {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .footer-col {
        margin-top: 3rem;
    }

    .service-description {
        margin-left: 1rem;
    }

}

@media screen and (max-width: 500px) {

    .brand-info>h1 {
        font-size: 3.25rem;
    }

    .brand-info > p {
        display: none;
    }

    .CTA>h2 {
        font-size: 4.5rem;
    }

    .CTA>p {
        font-size: 1.25rem;
        padding: 0.75rem 1.25rem;
    }

    .contact-section {
        grid-template-columns: 1fr;
        row-gap: 3rem;
    }

    .flex-direction {
        flex-direction: column;
    }

    .service-img {
        margin-right: 0;
    }

    .general-image-group {
        grid-template-columns: 1fr;
    }

    .stock-img {
        max-width: 300px;
        max-height: 250px;
    }

    .grid-container {
        grid-template-columns: 1fr;
    }

    .about-us {
        padding: 2.5rem 1rem;
    }

    .about-us>h2 {
        font-size: 1.5rem;
    }

    .about-us>p {
        font-size: 13px;
    }
}